h1 {
  font-size: 20px;
}

img {
  float: right;
}

ul {
  width: 60%;
}

h3 {
  font-weight: bold;
  font-size: 20px;

}

blockquote {
  padding: 10px;
}

p {
  font-size: 20px;
}

a{
  font-size: 20px;
  text-decoration: underline;

}

li {
  font-size: 15px;
}

.bro {
  border: 15px 	#2F4F4F;
  margin: 10px;
  padding: 5px
}

.yell {
  text-align: center;
}

h2 {
  font-size: 25px;
  color: #5F9EA0;
}

.well {
  background-color: #008B8B;
  margin: 5px;
  padding: 5px;
  border: 15px 	#2F4F4F
}

.bg-info {
  background-color: #A9A9A9;
}

.jumbotron {
  background-color: #A9A9A9;
}

.container {
  background-color: #F5F5DC;
}
